@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;700&display=swap");

/* overall */
* {
  padding: 0;
  margin: 0;
}

body {
  font-family: Josefin sans;
}

::selection {
  background-color: #fbbb00;
  color: #ec7243;
}

.header-names {
  font-size: 170px;
  text-align: left;
  margin-top: 100px;
}
/* end overall */

/* figuren */
.figuren {
  margin-top: -400px;
}

.figuren img {
  position: relative;
  z-index: 1;
}

.balk {
  margin-top: 10px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
/* end figuren */

/* landdingspage */
.home-page {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.container {
  width: 100%;
  max-width: 1140px;
  margin: auto;
}

.banner {
  position: relative;
  z-index: 0;
  background-color: #fbbb00;
  padding: 250px 0px 250px 0px;
}
/* end landdingspage */

/* about */
.headers {
  font-size: 28px;
  margin-top: 48px;
  margin-bottom: 15px;
}

p {
  font-size: 20px;
  font-weight: 300;
  line-height: 1.625;
}

.yellow {
  color: #fbbb00;
}

.red {
  color: #ec7243;
}
/* end about */

/* cases */
.cases {
  font-size: 170px;
  text-align: left;
  margin-top: -105px;
}

/* Cases */
.cases-imgs {
  display: grid;
  grid-template-areas:
    "pic1 pic1 pic2 pic2 pic3 pic3"
    "pic1 pic1 pic4 pic4 pic3 pic3"
    "pic5 pic5 pic4 pic4 pic6 pic6"
    "pic7 pic7 pic8 pic8 pic9 pic9"
    "pic7 pic7 pic10 pic10 pic9 pic9";
  grid-gap: 5%;
  padding: 10px;
  justify-items: center;
  padding-bottom: 15em;
}
.case-pic1 {
  grid-area: pic1;
}
.case-pic2 {
  grid-area: pic2;
}
.case-pic3 {
  grid-area: pic3;
}
.case-pic4 {
  grid-area: pic4;
}
.case-pic5 {
  grid-area: pic5;
}
.case-pic6 {
  grid-area: pic6;
}
.case-pic7 {
  grid-area: pic7;
}
.case-pic8 {
  grid-area: pic8;
}
.case-pic9 {
  grid-area: pic9;
}
.case-pic10 {
  grid-area: pic10;
}

/* End Cases */

/* video */
.video-section {
  background-image: url("images/background.png");
  padding: 50px 0px 50px 0px;
  width: 100%;
}

.video {
  display: flex;
  justify-content: center;
}

.width {
  width: 50%;
}

.video-background {
  width: 100%;
}

.margin-bottom {
  margin-bottom: 200px;
}
/* end video */

/* Team */
.team {
  margin-top: 48px;
  display: grid;
  grid-template-columns: auto auto;
  margin-bottom: 5em;
  grid-gap: 3em;
}
.leden {
  text-align: center;
  max-width: 100%;
}
.team_name {
  font-size: 2em;
  margin-top: 38px;
  margin-bottom: 10px;
}
.team_rol {
  font-size: 1.2em;
  color: #808080;
  margin-bottom: 38px;
}

.team_rol + p {
  margin-bottom: 60px;
}
.img_team {
}

/* End team */

/* Contact */
.contact-form {
  display: flex;
  flex-direction: row;
}

.contact-informatie {
  background-image: url("images/balken-contact-form.png");
  background-repeat: no-repeat;
  background-color: #fbbb00;
  width: 100%;
}

.onderwerp {
  background-image: url("images/driehoeken-contact-form.png");
  background-repeat: no-repeat;
  background-position: right;
}

.inputs {
  float: right;
  margin: 108px 100px;
}

input {
  margin-bottom: 50px;
}

label {
  color: white;
  font-size: 18px;
}

.persoons-informatie {
  padding: 25px 250px 25px 25px;
  border-radius: 5px;
  border: none;
  font-size: 18px;
}

textarea {
  padding: 25px 250px 200px 25px;
  border-radius: 5px;
  border: none;
  font-size: 18px;
}

.textareas {
  margin: 125px 100px;
}

.onderwerp {
  background-color: #ec7243;
  width: 100%;
}

.submit {
  text-align: center;
  margin: 30px 0px 0px 200px;
  padding: 10px 25px 10px 25px;
  border-radius: 5px;
  border: solid;
  font-size: 18px;
  background-color: inherit;
  border-color: white;
  color: white;
  z-index: 2;
}

.submit:hover {
  color: white;
  background-color: #fbbb00;
  border-color: #fbbb00;
}

/* End contact */

/* footer */
.footer {
  display: flex;
}

.geelvlak {
  padding: 1em;
  background-color: #fbbb00;
  width: 60%;
  max-height: 254px;
  display: grid;
  color: white;
}

.geelvlak p {
  padding-top: 1em;
}

.footer-text {
  padding-top: 1em;
  padding-left: 5%;
  max-width: 30%;
  min-width: 160px;
  z-index: 2;
  font-size: 26px;
  font-weight: 700;
}

.klein-logo {
  height: 254px;
  margin-left: -128px;
}

.footer-text-strook {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.footer-contact-text {
  display: flex;
  word-spacing: 30px;
}
/* End Footer */

/* Media query */
@media only screen and (max-width: 1350px) {
  .contact-form {
    display: flex;
    flex-direction: column;
  }
  .contact-informatie {
    max-height: 30.5em;
  }
  .inputs {
    float: left;
    margin: 20px 20px;
  }
  .textareas {
    margin: 20px 20px;
  }
}
@media only screen and (max-width: 1150px) {
  .figuren {
    display: none;
  }
  .banner {
    justify-items: center;
    align-items: center;
  }
  .home-page {
    text-align: center;
  }
  .container {
    max-width: 100%;
    justify-items: center;
  }
  .width {
    width: 100%;
    padding-bottom: 5em;
  }
  .img_logo {
    margin: auto 0;
    position: relative;
    z-index: 2;
  }
  .cases-imgs {
    grid-template-areas:
      "pic1 pic1 "
      "pic3 pic3"
      "pic4 pic4"
      "pic7 pic7 "
      "pic9 pic9 ";

    grid-gap: 15px;
    margin: 0;
    padding: 0;
    padding-bottom: 15em;
  }
  .case-pic2 {
    grid-area: pic2;
    display: none;
  }
  .case-pic5 {
    grid-area: pic5;
    display: none;
  }
  .case-pic6 {
    grid-area: pic6;
    display: none;
  }
  .case-pic8 {
    grid-area: pic8;
    display: none;
  }
  .case-pic10 {
    grid-area: pic10;
    display: none;
  }
  .video {
    max-height: 500px;
    max-width: 80%;
    margin: 0 auto;
  }
  .team {
    grid-template-columns: auto;
  }
  .leden {
    text-align: center;
    max-width: 100%;
  }
}
@media only screen and (max-width: 400px) {
  .cases {
    font-size: 80px;
  }
  .img_logo {
    width: 100%;
  }
  .width {
    padding-bottom: 8em;
  }
  .balk_img {
    display: none;
  }
  .cases-imgs {
    display: grid;
    grid-template-areas:
      "pic1"
      "pic3"
      "pic4"
      "pic7"
      "pic9";

    grid-gap: 15px;
    padding-bottom: 15em;
    max-width: 400px;
  }
  .img_cases {
    width: 300px;
    overflow: hidden;
  }
  .cases-imgs {
    padding: 0;
    margin: 0;
    margin-bottom: 6em;
  }
  .video {
    max-height: 200px;
    max-width: 80%;
    margin: 0 auto;
  }
  .team {
    grid-template-columns: 1fr;
    width: 100%;
    overflow: hidden;
  }
  .leden {
    text-align: center;
    max-width: 100%;
  }
  .img_team {
    width: 100%;
  }

  .contact-form {
    display: flex;
    flex-direction: column;
  }
  .contact-informatie {
    max-height: 30.5em;
  }
  .inputs {
    float: left;
    margin: 20px 20px;
  }
  .textareas {
    margin: 20px 20px;
  }
  .persoons-informatie {
    padding: 15px 50px 15px 25px;
  }

  textarea {
    padding: 15px 50px 50px 25px;
  }
  .the-team {
    font-size: 5em;
  }

  .geelvlak {
    padding: 1em;
    background-color: #fbbb00;
    width: 70%;
    max-height: 200px;
  }

  .geelvlak p {
    padding-top: 1em;
    font-size: 0.6em;
  }

  .footer-text {
    padding-top: 1em;
    padding-left: 1%;
    max-width: 30%;
    z-index: 2;
    font-weight: 700;
  }

  .klein-logo {
    height: 200px;
    margin-left: -100px;
  }

  .footer-text-strook {
    display: grid;
    grid-template-columns: auto auto;
  }

  .footer-contact-text {
    display: flex;
    word-spacing: 10px;
  }
  .circle {
    display: none;
  }
}

.circle {
  background-color: #ec7243;
  width: 250px;
  height: 250px;
  border-radius: 100%;
  position: absolute;
  top: 170px;
  z-index: -1;
}

/* loader */
.loading .loader {
  width: 100vw;
  height: 100vh;
  background-color: white;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.loading .icon {
  content: "";
  position: fixed;
  width: 50px;
  height: 50px;
  top: 50%;
  left: 50%;
  margin-top: -25px; /* Negative half of height. */
  margin-left: -25px; /* Negative half of width. */
  background: #ec7243;
  border-radius: 100%;
  z-index: 99;
  animation: beat 0.7s infinite alternate;
  transform-origin: center;
}

.loading .menu-wrap {
  z-index: 0;
}

.loading .figuren img {
  z-index: 0;
}

.loading {
  overflow: hidden;
}

@keyframes beat {
  to {
    transform: scale(1.4);
  }
}
