@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;700&display=swap");

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: Josefin sans;
  scroll-behavior: "smooth";
}

.home-page {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.container {
  width: 100%;
  max-width: 1140px;
  margin: auto;
}

.banner {
  background-color: #FBBB00;
  padding: 100px 0px 100px 0px;
}

h2 {
  font-size: 24px;
  margin-top: 48px;
}

p {
  font-size: 16px;
}

.yellow {
  color: #FBBB00;
}

.red {
  color: #EC7243
}

.width {
  width: 50%;
}

.figuren {
  margin-top: -400px
}

.balk {
  margin-top: 10px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.cases {
  font-size: 170px;
  text-align: left;
  margin-top: -105px;
}
